/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #19264D;
    /* Dark blue header color */
    color: #FFFFFF;
    /* White text color for the header */
    padding: 10px;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: #FFFFFF;
    /* White text color for navigation links */
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

/* Mobile Styles */
@media (max-width: 767px) {
    header {
        text-align: center;
    }

    nav {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    nav a {
        display: inline-block;
        margin: 0 10px;
    }

    section {
        padding: 20px;
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}

/* Tablet and Desktop Styles */
@media (min-width: 768px) {
    section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    img {
        order: 2;
        margin-left: 20px;
        max-width: 200px;
        /* Adjust the size as needed for desktop */
        max-height: 150px;
        /* Adjust the size as needed for desktop */
    }

    p {
        order: 1;
        flex: 1;
    }

    h2 {
        flex-basis: 100%;
        /* Ensure "Welcome" header takes full width */
    }
}