body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #1c4a7e;
  padding: 20px;
  color: white;
  text-align: center;
}

header h1 {
  font-size: 36px;
  margin: 0;
}

nav {
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
}

/* Make the navigation buttons side-by-side on mobile */
@media (max-width: 600px) {
  header h1 {
    font-size: 28px;
  }

  nav {
    display: flex;
    justify-content: center;
  }

  nav a {
    display: inline-block;
    margin: 5px;
  }
}

section {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #1c4a7e;
  border-bottom: 1px solid #1c4a7e;
  padding-bottom: 5px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

.publication-meta {
  font-size: 0.95em;
  color: #000;
  margin-bottom: 1em;
}

.publication-meta span[itemprop="headline"] {
  font-weight: bold;
  color: #003366;
}

.publication-meta em,
.publication-meta time,
.publication-meta span[itemprop="volumeNumber"],
.publication-meta span[itemprop="pageStart"] {
  margin-left: 0.3em;
  font-style: normal;
}


.teaching-entry p {
  padding-left: 1.5em;
  line-height: 1.2;      /* smaller number → tighter lines */
  margin-top: 0;          
  margin-bottom: 0.5em; 
}